.label {
  font-size: 1em;
  color: #d2d1cd;
}

.inputSelection {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
}

.input {
  border: none;
  background-color: unset;
  border-bottom: 2px solid;
  border-bottom-color: #777364;
  height: 4vh;
  color: white;
  padding-left: 0.5rem;
}
