:root {
  --size: 1.6rem;
}

.checkboxSelection {
  display: block;
  padding-left: 35px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.checkbox {
  display: absolute;
  width: 0;
  height: 0;
  left: 0;
}

.checkmark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  height: var(--size);
  width: var(--size);
  border: 1px solid #b7b6a7;
}
.checkmark:after {
  content: "";
  display: none;
  position: absolute;
}

.checkbox:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 0.5rem;
  top: 0.4rem;
  width: 3.4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
