.container{
    box-sizing: border-box;
    background: url("../assets/train_fading.png") no-repeat;
    background-size: cover;
    height: 74vh;
    box-shadow: 10px 10px 30px black;
    padding: 11vh 3vw 0 3vw;
    display: flex;
    overflow: overlay;
}